[Desktop Entry]
Categories=RemoteAccess;Network;
Comment=Play the games on this PC on your TV, phone or tablet
Exec=sunshine
Icon=sunshine
Keywords=gamestream;stream;moonlight;remote play;
Name=Dili
Terminal=true
Type=Application
Version=1.0
X-AppImage-Arch=x86_64
X-AppImage-Name=sunshine
X-AppImage-Version=@PROJECT_VERSION@
