[Desktop Entry]
Categories=RemoteAccess;Network;
Comment=Play the games on this PC on your TV, phone or tablet
Exec=sunshine.sh
Icon=@SUNSHINE_DESKTOP_ICON@
Keywords=gamestream;stream;moonlight;remote play;
Name=Dili
Type=Application
Version=1.0
